body {
  margin: 0;
  font-family: sans-serif;
}
.bg-image {
  width: 100%;
  height: 100vh;

  background: url("https://plus.unsplash.com/premium_photo-1666863909125-3a01f038e71f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzN8fG5hdHVyZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-attachment: fixed;
  background-size: 160%;
}
.container {
  padding: 100px;
}
h1 {
  font-size: 50px;
}
p {
    color: grey;
}
@media (max-width: 500px) {
  .container {
    padding: 10px;
  }
}
